h5py==2.10.0
jsonschema==3.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.2.3
Pillow==8.1.2
scipy==1.6.1
tensorflow==2.4.1
termcolor==1.1.0
terminado==0.9.3
